body {
    font-family: 'poppins, sans-serif';

  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
  }

   menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}

.slider-wrapper {
    position: relative;
    max-width: 700px;
    margin: 0 auto;
}

.slider {
    display: flex;
    aspect-ratio: 16 / 9;
    overflow-x: hidden;
    scroll-snap-align: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 .25rem .5rem #21212126;
    border-radius: .5rem;
}

.slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}

.slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-nav a {
    width: .5rem;
    height: .5rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: .75;
    transition: opacity ease 250ms;
}

.slider-nav a:hover {
    opacity: 100%
}

nav {
    background-color:#c5416d;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style-type: none;
    margin: 15px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul li {
    position: relative;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 15px 30px;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

nav ul li a:hover {
    background-color: #c5416d;
    transform: translateY(-2px);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color:#c5416d ;
    min-width: 250px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    z-index: 1;
}

.dropdown-content li a {
    padding: 5px 20px;
    color: white;
    font-weight: normal;
    font-size: 15px;
    position: relative;
    align-content: center;
}

.dropdown-content li a:hover {
    background-color:#c5416d;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#contenido {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

section {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    margin-top: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

section:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
}

button {
    background-color: #e24ab2;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #e24ab2;
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }

    nav ul li a {
        padding: 10px 15px;
    }

    #contenido {
        padding: 10px;
    }

     section {
        padding: 20px;
    }
}
